[submodule "cpp/external/googletest"]
	path = cpp/external/googletest
	url = https://github.com/google/googletest.git
[submodule "systemc"]
	path = sc/systemc
	url = git@github.com:accellera-official/systemc.git
[submodule "sv/yosys"]
	path = sv/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "sv/external/yosys"]
	path = sv/external/yosys
	url = https://github.com/YosysHQ/yosys.git
