[submodule "cpp/external/googletest"]
	path = cpp/external/googletest
	url = https://github.com/google/googletest.git
[submodule "systemc"]
	path = sc/systemc
	url = git@github.com:accellera-official/systemc.git
